<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="/css/userActions.css">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
      integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
</head>
<body>
    <form action="#" class="sign-in-form">
        <h2 class="title">Forgot password</h2>
        <p>Please enter your email address to receive a link to reset the password</p>
        <div class="error-view"></div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" required id="email-sign-in" />
        </div>
        <a href="./userActions.html">Back to login</a>
        <input type="submit" value="Send mail" class="btn solid" />
        </div>
      </form>
</body>
<script>
    document.querySelector(".btn").onclick = async (e) => {
        e.preventDefault();
        try {
            const email = document.querySelector("#email-sign-in").value;

            const obj = {
                email
            }

             const response = await axios.post("http://localhost:4001/password/forgotpassword",obj)

             alert(response.data.message)

        } catch (error) {
            console.log(error);
            const er = document.querySelector(".error-view");
            er.style.color = "red";
            er.textContent = error.message
        }
    }
</script>
</html>