<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
      integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
  </head>
  <body>
    <!-- action="http://localhost:4000/user/sigup" method="post" -->
    <form id="signup_form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <button type="submit" id="sigup_btn">Sigup</button>
    </form>
    <a href="/user">Already have an account?</a>
    <div class="error_view"></div>
    <script src="/signup.js"></script>
  </body>
</html>
